body {
    /*font-family: ;
    font-weight: ;*/
    font-size: 130%;
    background-color: #FDE8F4;
    color: #17020E; 
}
h1 {
    color: #0d730d;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav a {
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
    background-color: #999999;
}
nav a:hover {
    background-color: #f9f9f9;
}
/*a {

}
a:visted {

}
a:hover {

}*/