/*CHANGE all COlORS to fit color pallete*/
body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 130%;
    background-color: #FDE8F4;
    color: #17020E; 
}
h1 {
    font-family: 'Halant', serif; 
    font-weight: 600;
    color: #0d730d;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /*attach to container*/
}
nav a {
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
    background-color: #999999;
    color: #101010;
    border: 1px solid black; 
}
nav a:hover {
    background-color: #f9f9f9;
}